@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Sans-Regular";
  src: url(../fonts/Sans-Regular.ttf);
}

@font-face {
  font-family: "Sans-Medium";
  src: url(../fonts/Sans-Medium.ttf);
}

@font-face {
  font-family: "Sans-DemiBold";
  src: url(../fonts/Sans-DemiBold.ttf);
}

@font-face {
  font-family: "Sans-Bold";
  src: url(../fonts/Sans-Bold.ttf);
}

:root {
  --dynamic-color: 143, 105, 76; /* RGB without alpha */
}

body {
  @apply w-full h-screen flex font-Sans-Medium items-center justify-center bg-[rgba(var(--dynamic-color),0.25)];
}

.avatar-img {
  @apply rounded-full  size-16;
}

.card-container {
  @apply min-w-[900px]  gap-5 child:p-5 child:rounded-lg flex;

  section {
    @apply space-y-3;
  }
}

.content {
  @apply min-w-[600px]  child:bg-white child:rounded-lg p-0 child:p-4;
}
.card-header__info__name {
  @apply font-bold;
}
.card-header__info__email {
  @apply text-gray-600  cursor-pointer font-light text-sm;
}

.card-header {
  @apply flex items-center gap-4;
}

.sect-title {
  @apply font-Sans-Bold text-lg text-zinc-800;
}

.languages {
  @apply mt-10 space-y-6 child:flex child:items-center child:w-full w-full child:gap-4;
}

.lang-card {
  @apply child:w-full;
}

.lang-name {
  @apply font-Sans-Medium text-sm;
}
.icon {
  @apply max-w-max;
}
.lang-img {
  @apply size-12 object-cover;
}

.proccess-card {
  @apply w-full h-1.5 rounded-2xl bg-opacity-10 relative;
  background-color: rgba(
    var(--dynamic-color),
    0.2
  ); /* Set opacity here (e.g., 0.1 for 10%) */
}

.proccess-width {
  @apply absolute right-0 h-full w-[95%] rounded-3xl bg-[rgba(var(--dynamic-color),_0.6)];
}

.lang-data {
  @apply space-y-3;
}

.js {
  @apply w-[97%];
}

[alt="React"] {
  @apply size-12;
}

.react {
  @apply w-[99%];
}

.node {
  @apply w-[25%];
}

#tags {
  @apply mt-10 border-t pt-4 child:px-3 child:rounded-3xl w-full child:max-w-max child:py-1 flex items-center gap-3 flex-wrap text-sm child:cursor-pointer select-none child:duration-150 child-hover:bg-[rgba(var(--dynamic-color),_0.16)];

  * {
    background-color: rgba(var(--dynamic-color), 0.12);
    color: rgb(var(--dynamic-color));
  }
}

.footer-section {
  @apply flex child:duration-150 justify-center gap-3 child:rounded-3xl child:px-4 child:py-1.5 text-sm child:text-[rgb(var(--dynamic-color))] items-center;

  button {
    @apply focus-within:ring-4;
  }
}

.download {
  @apply flex items-center gap-2 bg-[rgba(var(--dynamic-color))] hover:bg-[rgba(var(--dynamic-color),_0.8)] text-white ring-[rgba(var(--dynamic-color),_0.4)];
}

.share {
  @apply hover:bg-[rgba(var(--dynamic-color),_0.16)] ring-[rgba(var(--dynamic-color),_0.3)];
}

.aside-title {
  @apply text-center;
}

.themes {
  @apply max-w-max p-3 bg-white fixed bottom-10 mx-auto left-0 right-0 flex items-center justify-center gap-1.5 child:rounded-full child:cursor-pointer rounded-3xl mt-4;
}

.theme-button {
  @apply size-6 rounded-full border duration-150 focus-within:ring-4 ring-[rgba(var(--dynamic-color),_0.3)];
}

.btn-1 {
  @apply bg-black;
}

.btn-2 {
  background: rgb(29, 53, 87);
}

.btn-3 {
  background: rgb(85, 139, 47);
}

.btn-4 {
  background: rgb(184, 84, 80);
}

.btn-5 {
  background: rgb(76, 139, 133);
}

.btn-6 {
  background: rgb(143, 105, 76);
}

aside {
  @apply max-w-[260px] child:w-full child:flex child:items-center child:justify-center child:flex-col child:gap-2 p-4 bg-white flex flex-col justify-between items-center;
}

.logout {
  @apply py-2 gap-1 flex items-center justify-center rounded-3xl bg-[rgba(var(--dynamic-color),_0.16)] ring-[rgba(var(--dynamic-color),_0.4)] text-[rgb(var(--dynamic-color))] hover:bg-[rgba(var(--dynamic-color),_0.3)] focus-within:ring-4  duration-150 w-full;
}

.about-me-sect {
  @apply h-full gap-2;

  h3 {
    @apply text-2xl font-bold text-zinc-700 mb-3;
  }

  .about-me {
    @apply mx-auto w-[90%] text-zinc-700 text-sm text-justify;
  }
}
