@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Sans-Regular";
  src: url(../fonts/Sans-Regular.ttf);
}

@font-face {
  font-family: "Sans-Medium";
  src: url(../fonts/Sans-Medium.ttf);
}

@font-face {
  font-family: "Sans-DemiBold";
  src: url(../fonts/Sans-DemiBold.ttf);
}

@font-face {
  font-family: "Sans-Bold";
  src: url(../fonts/Sans-Bold.ttf);
}

body {
  @apply bg-zinc-100 font-Sans-Medium;
}

.client-header {
  @apply w-full flex static top-0 duration-150 transition-all right-0 items-center justify-between h-24  px-10 child:flex child:items-center child:gap-4;
}

.client-header.sticky-header {
  @apply sticky bg-white px-16
}

.main {
  @apply pt-8 pb-16 lg:pt-16 lg:pb-24  antialiased;
}

.content-container {
  @apply flex justify-between px-4 mx-auto max-w-screen-xl;
}

.article {
  @apply mx-auto w-full max-w-2xl;
}

.article-header {
  @apply mb-4 lg:mb-6;
}

.address {
  @apply flex items-center gap-5 mb-6 not-italic;
}

.author {
  @apply inline-flex items-center mr-3 text-sm text-gray-900 gap-5;
}

.website-logo {
  @apply w-20;
}
