
:root{
    --primary-color1: purple ;
    line-height: 75px;
}
#h1yy{
    color: var(--primary-color1);
}
.btn{
    width: 200px;
    height: 55px;
    background: #2658e4;
    color: rgb(255, 255, 255);
    font-size: larger;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
}
.date{
    background: #00ffd0;
    color: #000000;
    font-weight: 700;
    font-size: 40px;
}
.time{
background: #fff41e;
color: #000000;
    font-weight: 700;
    font-size: 40px;
}
.course{
    background: rgb(0, 255, 4);
    color: #000000;
    font-weight: 700;
    font-size: 40px;
}
.course0{
    background: #ff0000;
    color: #000000;
    font-weight: 700;
    font-size: 40px;
}
.btn:hover{
     background: #557deb; 
}
.dix{
    width: 180px;
    height: 180px;
    background: #9fd0e4;
    position: relative;
}
@keyframes move {
    from{
        top: 0px;
    }to{
        top:180px;
    }
}